*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/src/main/res/raw/amazon_root_ca1.pem
/src/main/res/raw/certificate_pem_crt
/src/main/res/raw/private_pem_key